*{
    text-decoration: none;
}

article{
    background-color: rgb(245, 241, 235);
}
.comments{
    background-color: rgb(114, 226, 246);
    margin-bottom: 1%;
    
}


#more{
    background-color: rgba(86, 212, 243, 0.602);
    border: 1px solid rgba(0, 0, 0, 0.411);
}


.nav2{
    display : flex;
    align-items: center;
    justify-content: space-around;
    
}

.nav2 button{
    background-color: azure;
    border: 1px solid rgba(0, 0, 0, 0.411);
    padding: 1em;
}

.nav2 button:hover{
    background-color: rgba(86, 212, 243, 0.602);
}

#edit{
    background-color: rgb(212, 224, 38);
    border: 1px solid rgba(0, 0, 0, 0.411);
    text-decoration: none;

}

#delete{
    background-color: rgba(190, 30, 30, 0.787);
    border: 1px solid rgba(0, 0, 0, 0.411);
}

#add{
    background-color: rgb(30, 190, 38);
    border: 1px solid rgba(0, 0, 0, 0.411);
}

#form{
    display: flex;
    flex-direction: column;
    width: 20%;
}